변수 = 값을 담는 바구니  
**변수 = 저장할 값**

In [9]:
x = 100
print(x)

100

In [10]:
x=100
x=200
print(x)

200

In [11]:
x=100
y=200
print(x,y)

100 200

In [12]:
x=100
y=200
sum = x+y
print(sum)

300

In [13]:
name = "홍길동"
adress = '대구광역시 신암동 300'
print(name)
print(adress)

홍길동
대구광역시 신암동 300

In [14]:
a=7
b=5
print(a+b)
print("a+b")

12
a+b

In [15]:
x=7; y=6
print(x+y)
x='7'; y='6'
print(x+y)

13
76

### 변수

의미 있는 이름을 사용  
소문자와 대문자는 서로 다르게 취급된다.  
변수의 이름은 영문자와 숫자, 밑줄\(\_\)로 이루어진다.  
변수의 이름 중간에 공백이 들어가면 안 된다. 단어를 구분하려면 밑줄\(\_\)을 사용 한다  
특별한 의미가 있는 예약어는 사용할 수 없다.

In [16]:
sum = 1

In [17]:
_count = 1

In [18]:
base_2nd = 3

1) aBC 2) ab!  3)aB1 4) 1ab  
5) \_ab 6) AB\_C 7) 1\_ 8) 에이비

예약어 확인

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 변수 명명법
My new car  
=> My_new_car => **my_new_car**  :헝가리안표기법  
=> Mynewcar => **myNewCar**  : 카멜식(낙타식)표기법

#### 변수의 타입  
print(type(변수명))

In [20]:
a = 176
print(type(a))

<class 'int'>

In [21]:
print(type(179.8))

<class 'float'>

In [22]:
st = '키는 height'
print(type(st))

<class 'str'>

### 자료형
- 정수형 : 양수, 정수  
- 실수형 : 소수점이 포함된 실수  
- 문자형 : 따옴표에 들어가 있는 문자형  
- 불린형 : 참/ 거짓

### 사칙연산

In [23]:
# 주석은 (샾 : #) 기호 사용, 단축키는 ctrl + '/'
print('25+30 :', 25+30) # 덧셈(+)
print('30-12 :', 30-12) # 뺄셈(-)
print('50*3 :', 50*3)  # 곱셈(*)
print('30/5 :', 30/5)  # 나눗셈(/)
print('7%5 :', 7%5)   # 나머지(%)
print('7//5 :', 7//5)  # 몫연산자 (//)
#print()에서 , 로 구분되면 한칸 띄운다

25+30 : 55
30-12 : 18
50*3 : 150
30/5 : 6.0
7%5 : 2
7//5 : 1

### 제곱 연산자

In [24]:
print('3^5 :',3*3*3*3*3)
print('3^5 :',3**5)

3^5 : 243
3^5 : 243

루트 2를 ** 연산자를 사용해서 구해보자

In [25]:
print('sqrt(2) :', 2**0.5)

sqrt(2) : 1.4142135623730951

In [26]:
num1 = 3.1**4.2
print(num1)

115.80281433592612

In [27]:
num2 = 2 * 5 ** 2
print(num2)

50

In [28]:
a = 1
a = a+1
print(a)
a +=1
print(a)
a = a+2
print(a)
a +=2
print(a)

2
3
5
7

In [29]:
a = 10
a = a-1
print(a)
a -=1
print(a)
a = a-2
print(a)
a -=2
print(a)

9
8
6
4

In [30]:
print("정수를 입력하세요")
x=int(input()) #input()은 입력을 문자열로 받음
print("입력한 정수는", x, "입니다.")

정수를 입력하세요

ValueError: invalid literal for int() with base 10: '179.8888'

In [31]:
x=int(input("정수를 입력하세요"))
print("입력한 정수는", x, "입니다.")

입력한 정수는 1 입니다.

In [32]:
# 주석처리
# 한줄 주석 #
# 여러줄 주석

In [33]:
number = 2
print("number :",number)
number *= 5
print("number :",number)
number -= 4
print("number :",number)
number //= 2
print("number :",number)
number %= 2
print("number :",number)

number : 2
number : 10
number : 6
number : 3
number : 1

### String 자료형

In [34]:
tom = "Boy"
bob = 'I am a boy'
print(tom)
print(bob)

Boy
I am a boy

In [35]:
a='문장' 
b= "문장" 
c='''여러줄
 문장''' 
d="""여러줄
문장"""

In [36]:
print('"영수는 훌륭해" 선생님이 말씀하셨다')

"영수는 훌륭해" 선생님이 말씀하셨다

In [37]:
print("He's friend is my brother")

He's friend is my brother

### String 형  - 문자열 병합

In [38]:
str0 = "문자(열) " + "문자(열) " + "문자(열) " + "문자(열) "
print(str0)

문자(열) 문자(열) 문자(열) 문자(열)

In [39]:
start = '=' * 15
title = 'Python Program'
finish = '=' * 15
print(start+title+finish)
print(start,title,finish)

===============Python Program===============
=============== Python Program ===============

In [40]:
str1 = "Hello, "
str2 = "Python"
stars = '***'
print(stars*5+str1+str2+stars*5)

***************Hello, Python***************

len(string) : string의 길이를 출력(가운데 공백 포함)

In [41]:
str0 = "Hello Python"
print("Length of", str0, ":", len(str0))

Length of Hello Python : 12

In [42]:
str0 = 'mountain'
print("length of '"+str0+"' :", len(str0))
for n in range(len(str0)) :
    print('str0[',n,'] = ', str0[n] )

length of 'mountain' : 8
str0[ 0 ] =  m
str0[ 1 ] =  o
str0[ 2 ] =  u
str0[ 3 ] =  n
str0[ 4 ] =  t
str0[ 5 ] =  a
str0[ 6 ] =  i
str0[ 7 ] =  n

In [43]:
str0 = 'mountain'
print("length of '"+str0+"' :", len(str0))
count = 0
for ch in str0 :
    print('str0[',count,'] = ', ch)
    count+=1

length of 'mountain' : 8
str0[ 0 ] =  m
str0[ 1 ] =  o
str0[ 2 ] =  u
str0[ 3 ] =  n
str0[ 4 ] =  t
str0[ 5 ] =  a
str0[ 6 ] =  i
str0[ 7 ] =  n

In [44]:
tom = 'Tom is a good student'
print("새로 합성할 단어 : mood")
print(tom[2]+tom[1]+tom[1]+tom[-4])

새로 합성할 단어 : mood
mood

In [45]:
greeting = 'Hello Python!'
greeting[0] = 'J' # 한글자만 바꾸는 것은 불가능하다.
                  # (변경불가)
print(greeting)

TypeError: 'str' object does not support item assignment

slice : string의 일부를 취할 수 있음  
Hello  "Hello"\[1:4\] => "ell"

In [46]:
print("Hello"[1:4])

ell

In [47]:
str1 = 'Hello'
print("length of '"+str1+"' :", len(str1))
for n in range(len(str1)) :
    print(str1+'[',n,'] = ', str1[n] )

length of 'Hello' : 5
Hello[ 0 ] =  H
Hello[ 1 ] =  e
Hello[ 2 ] =  l
Hello[ 3 ] =  l
Hello[ 4 ] =  o

\[:n\] 처음부터 n-1까지  
\[m:\] m번째 부터 string의 끝까지  
\[m:문자열의 길이보다 큰값\] m번째부터 끝까지

In [48]:
string1 = "red apple"
string2 = "yellow banana"
print(string2[:6]+ string1[3:])

yellow apple

### 자료 형 변환

In [49]:
# 정수 <-> 실수 변환
a = int(10.99)
b = int(10.3)
print(a, b, a+b)

10 10 20

In [50]:
a = 10
b = float(a)
print(a, b, a+b)

10 10.0 20.0

In [51]:
a = 10
b = 3
print(a/b)

3.3333333333333335

In [52]:
# 문자형 => 숫자형간의 변환
a = '76.3'
b = float(a)
print(a, b)
#print(a+b) # 문자+숫자는 자료형이 불일치

76.3 76.3

In [53]:
# 숫자형 =>문자형 변환
a = b = 76.3
a = str(a)
b = str(b)
print(a+b)

76.376.3

In [54]:
a = int(10.3)
b = float(10.3)
c = str(10.3)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

문제 :  
  키를 입력하시오: 180  
  당신의 키는 180.0cm 입니다.  
  (180.0과 cm는 붙어있고, 결과는 소수점 1자리까지 표시한다)

In [66]:
height = float(input('키를 입력하시오 : '))
print("당신의 키는 %.1fcm 입니다."%(height))
print("당신의 키는 {}cm 입니다.".format(height))

당신의 키는 18.0cm 입니다.
당신의 키는 17.99999999cm 입니다.

문제 :  
  키를 입력하시오: 180.77  
  당신의 키는 180cm 입니다.  
  (180과 cm는 붙어있고, 결과는 정수로 소수점아래를 버린다.)

In [70]:
height = float(input('키를 입력하시오 : '))
print("당신의 키는 %dcm 입니다."%(height))
print("당신의 키는 {}cm 입니다.".format(int(height)))

당신의 키는 179cm 입니다.
당신의 키는 179cm 입니다.

In [71]:
print("%d %d %d"%(1,2,3))
print("{}{}{}".format("a","b","c"))

1 2 3
abc

"~~ %자료형1 ~~"%(값1)

In [73]:
print("%s %s"%('one', 'two'))
print("%d %d"%(1,2))

one two
1 2

In [74]:
print("I eat %d apples"%3)
print("I eat %s apples"%'five')

I eat 3 apples
I eat five apples

In [76]:
print("I love %s" %("meet"))
print("My thing is %dcm" %(180))
print("I get %c grade" %("A"))
print("%x마일 남았어" %(20)) # 16진수
print("%e키로만 더 찌워야지" %(12345678)) # 지수승으로 표시
print("%f키로만 더 빼야지" %(0.005)) #소수점 표시(기본6자리)

I love meet
My thing is 180cm
I get A grade
14마일 남았어
1.234568e+07키로만 더 찌워야지
0.005000키로만 더 빼야지

In [79]:
print("제품: %s, 개당가격: %f$." %("Apple",5.243))
number = 3
day = "three"
print("사과를 %d개 먹음. I was sick for %s days"
%(number,day))

제품: Apple, 개당가격: 5.243000$.
사과를 3개 먹음. I was sick for three days

"{자료형}".format(인수)

In [80]:
print("I'm {0} years old.".format(20))

I'm 20 years old.

In [83]:
print("제품:{0},가격:{1:.2f}$.".format("Apple",5.243))

제품:Apple,가격:5.24$.

In [81]:
test = 'Hello {}'.format('Bob')
print(test)

Hello Bob

In [91]:
print("%-10.2f"%5.94343) #좌측정렬
print("%10.3f"%5.94343)
print("%10.2f"%5.94343)

5.94
     5.943
      5.94

In [88]:
print("{0:<10s}".format("Apple")) # 좌측정렬
print("{0:>10s}".format("Apple")) # 우측정렬

Apple
     Apple

초단위의 시간을 받아서 몇 분 몇 초인지를 계산해여 보자

In [18]:
print("시간을 입력하시오(초단위) :")
num = float(input())
second = float(num%60)
minute = float(num/60)
hour = float(minute/24)
print("%d초는 %d시간 %d분 %d초 입니다."%(num, hour, minute, second))

시간을 입력하시오(초단위) :
1000초는 0시간 16분 40초 입니다.

커피 매출 계산  
아메리카노 : 2,000원  
카페라떼 : 3,000원  
카푸치노 : 3,500원

In [22]:
print("아메리카노 판매 개수 입력 :")
ameri = int(input())
print("카페라떼 판매 개수 입력 :")
cafe = int(input())
print("카푸치노 판매 개수 입력 :")
cafu = int(input())
incom = ameri * 2000 + cafe*3000 + cafu*3500
print("총 매출은 %d원 입니다."%(incom))

아메리카노 판매 개수 입력 :
카페라떼 판매 개수 입력 :
카푸치노 판매 개수 입력 :
총 매출은 185000원 입니다.

화씨 온도를 섭씨로 변환

In [24]:
print("화씨 온도 입력 :")
f = int(input())
c = float((f-32)*(5/9))
print("섭씨 온도 : {}".format(c))

화씨 온도 입력 :
섭씨 온도 : 37.77777777777778

## 조건문

In [4]:
import random
coin = random.randrange(2)
if coin == 0:
    print("뒷면")
else :
    print("앞면")
print("게임종료")

앞면
게임종료

In [7]:
import random
for i in range(10) :
    print(random.randint(0,10)) # 0~10 사이의 값

8
3
9
10
6
9
3
4
8
2

In [8]:
import random
choice = random.choice(["오전", "오후", "저녁"])
print(choice)

저녁

In [17]:
import random
print("어디를 수비하시겠습니까?(왼쪽, 중앙, 오른쪽) : ")
ch1 = str(input())
print(ch1)
ch2 = random.choice(["왼쪽", "중앙", "오른쪽"])
print(ch2)
if ch1 == ch2 :
    print("수비 성공!")
else :
    print("골!!")

어디를 수비하시겠습니까?(왼쪽, 중앙, 오른쪽) :
중앙
중앙
수비 성공!

In [18]:
a=8
b=8
result = (a==8 and b==4)
print(result)

False

In [19]:
a=8
b=8
result = (a>7 and b>7)
print(result)

True

### if문
if :  
elif :  
else :

In [23]:
print("나이 입력 :")
age = int(input())
print(age)
if age<10 :
    print("kid")
elif age < 20 :
    print("student")
else :
    print("adult")

나이 입력 :
25
adult

## range()  
## range(start=0, stop, step=1)

In [27]:
for i in range(5) : 
    print(i, end = " ")

0  1  2  3  4

In [28]:
for i in range(1, 5) : #range(시작숫자, 끝숫자)
    print(i, end = " ")

1 2 3 4

In [29]:
for i in range(1, 10, 2) : #range(시작숫자, 끝숫자, 뛰어세기)
    print(i, end = " ")

1 3 5 7 9

In [31]:
array = [123,456,798,741,852,963]#list
for element in array :
    print(element)

123
456
798
741
852
963

In [38]:
array = [123,456,798,741,852,963]#list
i = 0
for element in array :
    print(element)
    i+=1

123
456
798
741
852
963

In [33]:
array = [123,456,798,741,852,963]#list
for i in range(len(array)) :
    print(str(i) + "번째 반복 : "+ str(array[i]))

0번째 반복 : 123
1번째 반복 : 456
2번째 반복 : 798
3번째 반복 : 741
4번째 반복 : 852
5번째 반복 : 963

In [37]:
array = [123,456,798,741,852,963]#list
for i in range(len(array)) :
    print("%d번째 반복 : %d"%(i, array[i]))
    print("{}번째 반복 : {}".format(i, array[i]))

0번째 반복 : 123
0번째 반복 : 123
1번째 반복 : 456
1번째 반복 : 456
2번째 반복 : 798
2번째 반복 : 798
3번째 반복 : 741
3번째 반복 : 741
4번째 반복 : 852
4번째 반복 : 852
5번째 반복 : 963
5번째 반복 : 963

In [39]:
for i in reversed(range(10)) :
    print(i, end=" ")

9 8 7 6 5 4 3 2 1 0

## break

In [40]:
for i in range(10) :
    if i==5 :
        break
    print(i, end=" ")
print()
print('End of Program')

0 1 2 3 4
End of Program

In [45]:
mixlist= ['apple', 5, 'banana', 'prape', 3, 8, 6, 'melon']
for i in mixlist :
    print(i)
    if type(i) == int :
        print("type is integer")
    else :
        print("type is string")

apple
type is string
5
type is integer
banana
type is string
prape
type is string
3
type is integer
8
type is integer
6
type is integer
melon
type is string