# class

In [1]:
balance = 8000
def deposit(money):
    global balance
    balance +=money

def inquire():
    print("잔액은 {}원 입니다.".format(balance))

deposit(1000)
inquire()

잔액은 9000원 입니다.

In [14]:
class Account:
    def __init__(self, balance) :
        self.balance = balance
    def deposit(self, money):
        self.balance +=money
    def inquire(self):
        print("잔액은 {}원 입니다.".format(self.balance))

In [15]:
kb = Account(80000)
kb.deposit(10000)
kb.inquire()

잔액은 90000원 입니다.

In [16]:
kakao = Account(800000)
kakao.deposit(150000)
kakao.inquire()

잔액은 950000원 입니다.

In [29]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def intro(self):
        print(str(self.age)+"살 "+self.name+"입니다.")

In [30]:
class Student(Human):  # 부모 클래스 Human을 상속받은 클래스
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id
    def intro(self):
        super().intro()
        print("학번 : "+str(self.student_id))
    def study(self):
        print("파이썬 공부 : class")

In [31]:
# 객체 생성

kim = Human("김길동", 32)
kim.intro()

32살 홍길동입니다.

In [33]:
hong = Student("홍길동", 45, 202009)
hong.intro()
hong.study()

45살 홍길동입니다.
학번 : 202009
파이썬 공부 : class

In [34]:
kim.age = 99

In [35]:
kim.intro()

99살 홍길동입니다.

In [36]:
class Date:
    def __init__(self, month):
        self.month = month
    def getmonth(self):
        return self.month
    def setmonth(self, month):
        if 1<=month<=12:
            self.month=month

In [39]:
today = Date(9)
today.month = 15
print(today .month)

15

In [46]:
class Date:
    def __init__(self, month):
        self.inner_month = month
    def getmonth(self):
        return self.inner_month
    def setmonth(self, month):
        if 1<=month<=12:
            self.inner_month=month
    month = property(getmonth, setmonth)

In [49]:
today = Date(9)
today.setmonth(19)
print(today.getmonth())

9

In [50]:
today = Date(9)
today.month = 15
print(today .month)

9

In [51]:
class Date:
    def __init__(self, month):
        self.__month = month # _ _ : 직접참조 불가
    def getmonth(self):
        return self.__month
    def setmonth(self, month):
        if 1<=month<=12:
            self.__month=month
    month = property(getmonth, setmonth)

In [52]:
today = Date(9)
today.month = 15
print(today .month)

9

In [53]:
today = Date(9)
today.__month = 15
print(today .month)

9

In [58]:
class Car:
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count+=1
    @classmethod
    def outcount(cls):
        print(cls.count)

In [59]:
k3=Car("k3")
k5=Car("k5")
Car.outcount()

2

In [60]:
# static method
class Car:
    @staticmethod
    def hello():
        print("안전운전")
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count+=1
    @classmethod
    def outcount(cls):
        print(cls.count)

In [61]:
Car.hello()

안전운전

In [62]:
# 연산자 메서드
class Human:
    def __init__(self, name, age):
        self.age=age
        self.name=name
    def __eq__(self, other):
        return self.age==other.age and self.name==other.name

In [65]:

park = Human("박박박", 25)
par= Human("박박박", 25)
pa = Human("바박박", 26)

print(park==par)
print(park==pa)

True
False

In [69]:
# 특수 연산자 메서드
class Human:
    def __init__(self, name, age):
        self.age=age
        self.name=name
    def __str__(self):
        return "이름{}, 나이{}".format(self.name, self.age)
    def __len__(self):
        return self.age

In [70]:
park = Human("박박박", 25)
print(park)
print(len(park))

이름박박박, 나이25
25

In [73]:
f=0.1
sum=0
for i in range(100):
    sum+=f
print(sum)

9.99999999999998

In [79]:
# 오차없이 10진수형태의 실수를 표현하는 클래스:Decimal
from decimal import Decimal

Decimal(123)    # 정수형
Decimal('3.14')     # 실수 문자열
Decimal(('3.14e3'))     #부동소수점 형태
Decimal((0, (3,1,4),-2))    # 튜플형태 3.14

Decimal('3.14')

In [76]:
from decimal import Decimal
f=Decimal('0.1')
sum=0
for i in range(100):
    sum+=f
print(sum)

10.0

In [82]:
from fractions import *
a=Fraction(1,3)
print(a)
b=Fraction(8,14)
print(b)

1/3
4/7

In [84]:
from fractions import *
a=Fraction(2,3)
b=Fraction(3,5)
c=a+b
print(c) # Fraction간 연산은 분수로

19/15

In [85]:
d=c+0.1
print(d) # Fration과 실수의 연산은 실수로

1.3666666666666667

## array(타입코드, \[초기값\])

In [89]:
import array
ar = array.array('i', [33, 44,55,66,77,88])
for a in ar:
    print(a, end=',')
print()

ar.append(100)
del ar[0]
for a in ar:
    print(a, end=',')
print()
print("ar[1] :", ar[1])
print("ar[2:4] :", ar[2:4])

33,44,55,66,77,88,
44,55,66,77,88,100,
ar[1] : 55
ar[2:4] : array('i', [66, 77])

In [94]:
score = [88,85,70,100,59]
for no, s in enumerate(score,1):
    print(str(no)+"번 학생의 성적 :", s)

1번 학생의 성적 : 88
2번 학생의 성적 : 85
3번 학생의 성적 : 70
4번 학생의 성적 : 100
5번 학생의 성적 : 59

## enumerate(score,1) : 
n부터 시작하는 순서값과 요소값을 튜플로 생성 후 리턴  
(1,88), (2,85), (3,70), (4,100), (5,59)

In [99]:
yoil = ['월', '화', '수', '목', '금', '토', '일']
il = ['월', '화', '수', '목', '금', '토', '일']
food = ["갈비탕", "순대국", "김밥", "삼겹살","짜장면"]
menu = zip(yoil, food)
for y, f in menu:
    print("{}요일 메뉴 : {}".format(y, f))

월요일 메뉴 : 갈비탕
화요일 메뉴 : 순대국
수요일 메뉴 : 김밥
목요일 메뉴 : 삼겹살
금요일 메뉴 : 짜장면

## zip(list1, list2, ...)
: 여러개의 컬렉션을 합쳐 하나로 만듬  
: 두 리스트에 대응되는 요소끼리 짝을 지여 튜플 리스트를 생성  
: 두 리스트의 길이가 달라도 짧은 쪽의 길이에 맞춤  
("월", "갈비탕")("화요일", "순대국")("수요일", "김밥")("목요일", "삼겹살")("금요일", "짜장면")

In [100]:
dict(zip(yoil, food))

{'월': '갈비탕', '화': '순대국', '수': '김밥', '목': '삼겹살', '금': '짜장면'}

In [102]:
# any / all
adult = [True, True, True, True]
print("any :", any(adult))
print("all :", all(adult))
print()
adult = [False, False, False, True]
print("any :", any(adult)) # 하나라도 True면 True
print("all :", all(adult)) # 모두 True면 True

any : True
all : True

any : True
all : False

## filter\[조건지정 함수, 대상 리스트\]
filter 삼수는 리스트의 요소중 조건에 맞는것만 골라냄

In [104]:
def flunk(s):
    return s<60

score=[45, 89,72,53,99]
for s in filter(flunk, score):
    print(s)

45
53

## map\[조건지정 함수, 리스트\]
map 함수는 모든요소에 대해 변환함수를 호출하여 새 요소값으로 구성된 리스트 생성

In [105]:
def half(s):
    return s/2
sscore=[45, 89,72,53,99]
for s in map(half, score):
    print(s, end = ', ')

22.5, 44.5, 36.0, 26.5, 49.5,

In [106]:
new_score=map(half, score)
for s in new_score:
    print(s, end= ', ')

22.5, 44.5, 36.0, 26.5, 49.5,

In [107]:
def total(s, b):
    return s+b
score=[45, 89,72,53,99]
bonus=[2,3,7,0,5]
for s in map(total, score, bonus):
    print(s, end=' ')

47 92 79 53 104

# 람다 함수
lambda 함수:식

In [114]:
lambda x:x+1

In [111]:
def increase(x):
    return x+1

In [112]:
score=[45, 89,72,53,99]
for s in filter(lambda x:x<60, score):
    print(s)

45
53

In [113]:
sscore=[45, 89,72,53,99]
for s in map(lambda x:x/2, score):
    print(s, end = ', ')

22.5, 44.5, 36.0, 26.5, 49.5,

In [115]:
# 깊은복사/ 앝은복사
a=3
b=a
print("a={} b={}".format(a,b))

a=5
print("a={} b={}".format(a,b))

a=3 b=3
a=5 b=3

In [116]:
list1 = [1,2,3]
list2 = list1
list2[1] =100
print(list1)
print(list2)

[1, 100, 3]
[1, 100, 3]

In [117]:
list1 = [1,2,3]
list2 = list1.copy()
list2[1] =100
print(list1)
print(list2)

[1, 2, 3]
[1, 100, 3]

In [118]:
list0=["a", "b"]
list1=[list0, 1, 2]
list2=list1.copy()

list2[0][1] = 'c'
print(list1)
print(list2)

[['a', 'c'], 1, 2]
[['a', 'c'], 1, 2]

In [119]:
import copy
list0=["a", "b"]
list1=[list0, 1, 2]
list2=copy.deepcopy(list1)

list2[0][1] = 'c'
print(list1)
print(list2)

[['a', 'b'], 1, 2]
[['a', 'c'], 1, 2]

In [120]:
list1=[1,2,3]
list2=list1
list3=list1.copy()
print("1==2 :", list1 is list2)
print("1==3 :", list1 is list3)
print("2==3 :", list2 is list3)

1==2 : True
1==3 : False
2==3 : False

In [124]:
a=301
b=a
print("a={} b={}:{}".format(a,b,a is b))

b = 301
print("a={} b={}:{}".format(a,b,a is b))

a=301 b=301:True
a=301 b=301:False