In [3]:
import pandas as pd
df = pd.read_csv('titanic_train.csv', sep=',')

In [4]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,body,home.dest
0,2,1,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S,NaN,"England / Bennington, VT"
1,2,1,"Wells, Miss. Joan",female,4.0,1,1,29103,23.0000,NaN,S,NaN,"Cornwall / Akron, OH"
2,2,1,"Duran y More, Miss. Florentina",female,30.0,1,0,SC/PARIS 2148,13.8583,NaN,C,NaN,"Barcelona, Spain / Havana, Cuba"
3,3,0,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q,NaN,NaN
4,3,1,"Bradley, Miss. Bridget Delia",female,22.0,0,0,334914,7.7250,NaN,Q,NaN,"Kingwilliamstown, Co Cork, Ireland Glens Falls..."

In [7]:
f = open("ex1.csv", 'w')
data = """a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""
f.write(data)
f.close()

In [8]:
df = pd.read_csv('ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
f = open("ex2.csv", 'w')
data = """1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo
"""
f.write(data)
f.close()

In [13]:
df2 = pd.read_csv('ex2.csv', names=['a','b','c','d','message'])
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
names=['a','b','c','d','message']
df2 = pd.read_csv('ex2.csv', names=names, index_col='message')
df2

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [22]:
f = open("csv_mindex.csv", 'w')
data = """key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16
"""
f.write(data)
f.close()

- 계층적 색인 지정

In [17]:
parsed = pd.read_csv('csv_mindex.csv', index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [26]:
f = open("ex3.txt", 'w')
data = """          A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871859 -0.348382  1.100491
"""
f.write(data)
f.close()

In [27]:
result = pd.read_table("ex3.txt", sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871859 -0.348382  1.100491

In [28]:
f = open("ex4.csv", 'w')
data = """#hey!
a,b,c,d,message
#Hello Python
#CSV file
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo"""
f.write(data)
f.close()

In [30]:
df = pd.read_csv('ex4.csv', skiprows=[0,2,3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [38]:
f = open("ex4.csv", 'r')
lineNum = 0
skiplist = []
while True:
    lines = f.readline()
    if not lines:
        break
    if lines[0] == '#':
        skiplist.append(lineNum)
    lineNum +=1
f.close()
skiplist

[0, 2, 3]

In [35]:
frame = pd.DataFrame(skiplist)
frame

                 0
0          #hey!\n
1  #Hello Python\n
2      #CSV file\n

In [39]:
df = pd.read_csv('ex4.csv', skiprows=skiplist)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [40]:
f = open("ex5.csv", 'w')
data = """something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo
"""
f.write(data)
f.close()

In [41]:
result = pd.read_csv('ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [42]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [43]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
sentinels = {'message':['foo','NA'], 'something':['two']}
result = pd.read_csv('ex5.csv', na_values=sentinels)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

## 엑셀파일읽기

In [48]:
xlsx = pd.ExcelFile('ex01.xlsx')
frame = pd.read_excel(xlsx,'Sheet1')
frame

   a   b   c   d message
0  0   1   2   3   hello
1  4   5   6   7   world
2  9  10  11  12     foo

In [49]:
writer = pd.ExcelWriter('ex02.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()